@use "razza/vars";
@use "razza/colors";

.button {
    display: inline-flex;
    padding: 8px 12px;

    background-color: var(--background-color);
    color: var(--foreground-color);

    text-decoration: none;

    border: 1px solid var(--inverse-background-color);
    border-radius: 0.5em;

    transition: box-shadow .1s, transform .1s;

    box-shadow: 2px 2px 0px var(--inverse-background-color);
    transform: translate(-2px, -2px);

    &:active {
        box-shadow: 0px 0px 0px var(--inverse-background-color);
        transform: translate(0, 0);
    }
}

@mixin disable-button-animation {
    .button {
        box-shadow: none;
        transform: none;
    }
}
