---
title: Notes
layout: chrome
nav_tag: notes
---

<header>
    <h1>Notes</h1>
    <p>Here are some notes I've written down for different things. Think of them as a bunch of Markdown files left in a
        folder somewhere.</p>
    <ul class="header-buttons">
        <li><a href="{{ '/feed.xml' | relative_url }}" class="button"><i class="bi bi-rss"></i> Atom Feed</a></li>
    </ul>
</header>

{% assign year_groups = "" %}
{% for post in site.posts %}
{% assign year = post.date | date: "%Y" %}
{% assign year_groups = year_groups | append: year | append: "," %}
{% endfor %}
{% assign year_groups = year_groups | split: "," | uniq %}

{% for year_group in year_groups %}
<section id="{{year_group}}">
    <header class="chrome-inset">
        <h2>{{ year_group }}</h2>
    </header>
    <main class="note-list">
        {% for note in site.posts %}
        {% assign note_year = note.date | date: "%Y" %}
        {% if note_year == year_group %}
        {% include note-tile.html %}
        {% endif %}
        {% endfor %}
    </main>
</section>
{% endfor %}

<section id="active" class="biglist biglist-inset">
    <div class="biglist-content">
        {% for note in site.posts %}
        {% endfor %}
    </div>
</section>
