---
title: Projects
layout: chrome
permalink: /projects
nav_tag: projects
---

<header>
    <h1>Projects</h1>
</header>

<section>
    {%- include project-list.html -%}
</section>

<section id="archived">
    <header class="chrome-inset">
        <h2>One-offs & Archived</h2>
        <p>Below are some projects I had completed and am not longer updating.</p>
    </header>
    <main class="project-list">
        {% for project in site.data.projects %}
        {% assign icon = 'assets/logos/projects/undefined.svg' %}
        {% if project.icon %}
        {% assign icon = 'assets/logos/projects/' | append: project.icon %}
        {% endif %}

        <a href="{{ project.link }}" class="miniproject-tile">
            <img src="{{ icon | relative_url }}" alt="" width="32" height="32">
            <span class="miniproject-tile-meta">
                <span class="title">{{ project.name }}</span>
                <span class="description">{{ project.description }}</span>
            </span>
        </a>
        {% endfor %}
    </main>
</section>
