---
layout: page
---

<header>
    <h1>Projects</h1>
    <p>Here's a subset of my projects you might be interested in.</p>
    <p>You can find more of them on <a href="https://github.com/itisrazza">my GitHub</a> or in the <a href="https://suite.razza.io/">Razza Suite</a>.</p>
</header>

{% assign archived_projects = site.data.projects | where: "archived", "true" | sort: "name" %}
{% assign active_projects = site.data.projects | where: "archived", empty | sort: "name" %}

<section id="active" class="biglist biglist-grid biglist-inset">
    <div class="biglist-content">
        {% for project in active_projects %}
            {% assign icon = 'assets/logos/projects/undefined.svg' %}
            {% if project.icon %}
                {% assign icon = 'assets/logos/projects/' | append: project.icon %}
            {% endif %}

            <a href="{{ project.link }}" class="biglist-item">
                <img src="{{ icon | relative_url }}" alt="" width="32" height="32">
                <span class="biglist-item-main">
                    <span class="title">{{ project.name }}</span>
                    <span class="description">{{ project.description }}</span>
                </span>
            </a>
        {% endfor %}
    </div>
</section>

<h2>Archived Projects</h2>
<p>Here are some older projects I'm a bit proud of. You can find the rest on <a href="https://github.com/itisrazza?tab=repositories&q=&type=archived&language=&sort=name">GitHub</a>.</p>

<section id="archived" class="biglist biglist-grid biglist-inset">
    <div class="biglist-content">
        {% for project in archived_projects %}
            {% assign icon = 'assets/logos/projects/undefined.svg' %}
            {% if project.icon %}
                {% assign icon = 'assets/logos/projects/' | append: project.icon %}
            {% endif %}

            <a href="{{ project.link }}" class="biglist-item">
                <img src="{{ icon | relative_url }}" alt="" width="32" height="32">
                <span class="biglist-item-main">
                    <span class="title">{{ project.name }}</span>
                    <span class="description">{{ project.description }}</span>
                </span>
            </a>
        {% endfor %}
    </div>
</section>