---
title: Projects
layout: page
---

<div class="wrapper">
    <div class="project-grid">
        {% for project in site.projects %}
        {% assign logo_path = "/assets/logos/projects/" | append: project.slug | append: ".svg" %}
        {% assign url = project.url | relative_url %}
        {% if project.external_url %}
        {% assign url = project.external_url %}
        {% endif %}

        <a href="{{ url }}" class="button-3d project-button">
            <span class="project-logo">
                <img src="{{ logo_path | relative_url }}" alt="" height="64">
            </span>
            <span class="project-title" role="heading">{{ project.title }}</span>
            <span class="project-description">{{ project.description }}</span>
            <span class="project-platforms">
                {% for platform in project.platforms %}
                <span class="label">{{ platform }}</span>
                {% endfor %}
            </span>
        </a>
        {% endfor %}
    </div>
</div>

<div class="content-inset">
    <h2>One-offs and Archived Projects</h2>
    <p>Here are some projects I've either done as a one-off, or made when I had a lot more time on my hands. There's
        more on
        <a href="https://github.com/itisrazza?tab=repositories&q=&type=archived&language=&sort=name">GitHub</a>.
    </p>
</div>

<section class="biglist biglist-grid biglist-inset">
    <div class="biglist-content">
        {% for project in site.data.projects %}
        {% assign icon = 'assets/logos/projects/undefined.svg' %}
        {% if project.icon %}
        {% assign icon = 'assets/logos/projects/' | append: project.icon %}
        {% endif %}

        <a href="{{ project.link }}" class="biglist-item">
            <img src="{{ icon | relative_url }}" alt="" width="32" height="32">
            <span class="biglist-item-main">
                <span class="title">{{ project.name }}</span>
                <span class="description">{{ project.description }}</span>
            </span>
        </a>
        {% endfor %}
    </div>
</section>
