<nav class="wrapper">
    <ul class="nav-main">
        <li><a href="/" class="brand">Raresh Nistor</a></li>
        <label for="navbar-expand-button" class="nav-expand-label"><i class="bi bi-chevron-down"></i></label>
    </ul>
    <div class="nav-expandable">
        <input type="checkbox" id="navbar-expand-button" class="nav-expand-button">
        <ul class="nav-expandee">
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/notes">Notes</a></li>
        </ul>
    </div>
</nav>
