:root {
  font-family: $main-font-family;
  font-size: 14px;
  font-variation-settings: "ss01" 1;
  font-feature-settings: "cv01", "cv02", "cv03", "cv04", "cv10", "ss07", "ss08";
}

body {
  background: $color-dark-blue;
  color: $color-white;
  line-height: 1.4;
  margin: unset;
}

hr {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

code,
kbd,
pre {
  font-family: $mono-font-family;
}

code {
  background: $color-white-shade;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: smaller;
}

pre {
  background-color: $color-white-shade;
  padding: 8px;
  overflow-x: auto;
  border-radius: 8px;

  code {
    background: unset;
    border-radius: unset;
    padding: unset;
    font-size: 13px;
  }
}

a {
  color: $color-kinda-yellow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $head-font-family;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

blockquote {
  margin-left: unset;
  margin-right: unset;
  border-left: 4px solid #424242;
  padding-left: 1em;
}

table {
  width: 100%;
  background: $color-dark-blue;
  color: #fafafa;
  border-collapse: collapse;
  overflow: hidden;

  tr {
    border: none;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 8px;
  }

  th {
    background: $color-table-heading-background;
    border: none;
    border-collapse: collapse;
  }

  td {
    border: 1px solid $color-table-border;
    border-collapse: collapse;
  }
}

.label {
  font-size: smaller;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 2px 6px;
  outline: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.wrapper {
  width: 80%;
  min-width: 300px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $md-break) {
    width: 0.8 * $md-break;
  }

  @media screen and (min-width: $lg-break) {
    width: 720px;
  }
}

body > footer {
  border-top: 1px solid #424242;
  padding: 0.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: smaller;
  margin-top: 0.5em;

  .nz {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
}

main > p > img {
  max-width: 100%;
  text-align: center;
}

.note {
  margin: 1em 0;
  padding: 8px 12px;
  padding-left: calc(12px - 4px);
  background: #616161;
  color: #fafafa;
  border-radius: 8px;
  box-shadow: $box-shadow;
  border-left: 4px solid #03a9f4;

  // &.note-yellow {
  //     background-color: #E65100;
  //     color: #FFF8E1;
  // }
}
