@use "razza/vars";
@use "razza/colors";

:root {
  width: auto;
  overflow-x: hidden;
}

body {
  background: var(--background-color);
  color: var(--foreground-color);
  margin: unset;
  width: auto;
  overflow-x: hidden;

  padding-block: 2em;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5em;
}

hr {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


a {
  color: var(--link-color);
}

table {
  width: 100%;
  background: colors.$background-dark;
  color: #fafafa;
  border-collapse: collapse;
  overflow: hidden;

  tr {
    border: none;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 8px;
  }

  th {
    background: colors.$table-heading-background;
    border: none;
    border-collapse: collapse;
  }

  td {
    border: 1px solid colors.$table-border;
    border-collapse: collapse;
  }
}

.label {
  font-size: smaller;
  font-variation-settings: "wght" 500;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 2px 6px;
  outline: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  font-variation-settings: "opsz" 10;
}

body>footer {
  border-top: 1px solid #424242;
  padding: 0.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: smaller;
  margin-top: 0.5em;
  font-variation-settings: "opsz" 10;

  .nz {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
}

main>p>img {
  max-width: 100%;
  text-align: center;
}

.note {
  margin: 1em 0;
  padding: 8px 12px;
  padding-left: calc(12px - 4px);
  background: #616161;
  color: #fafafa;
  border-radius: 8px;
  box-shadow: vars.$box-shadow;
  border-left: 4px solid #03a9f4;

  // &.note-yellow {
  //     background-color: #E65100;
  //     color: #FFF8E1;
  // }
}
