@use "razza/vars";
@use "razza/colors";

:root {
  --background-color: #{colors.$background-light};
  --foreground-color: #{colors.$black};

  font-family: vars.$main-font-family;
  font-variation-settings: vars.$body-font-variations;
  width: auto;
  overflow-x: hidden;
}

body {
  background: var(--background-color);
  color: var(--foreground-color);
  line-height: 1.3;
  margin: unset;
  width: auto;
  overflow-x: hidden;
}

b,
strong {
  font-weight: normal;
  font-variation-settings: "wght" 700;
}

hr {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

code,
kbd,
pre {
  font-family: vars.$mono-font-family;
}

code {
  background: colors.$white-shade;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: smaller;
}

pre {
  background-color: colors.$white-shade;
  padding: 8px;
  overflow-x: auto;
  border-radius: 8px;

  code {
    background: unset;
    border-radius: unset;
    padding: unset;
    font-size: 13px;
  }
}

a {
  color: colors.$accent-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: vars.$head-font-family;
  font-stretch: 80%;
  font-weight: normal;
  font-variation-settings: "wght" 600;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

blockquote {
  margin-left: unset;
  margin-right: unset;
  border-left: 4px solid #424242;
  padding-left: 1em;
}

table {
  width: 100%;
  background: colors.$background-dark;
  color: #fafafa;
  border-collapse: collapse;
  overflow: hidden;

  tr {
    border: none;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 8px;
  }

  th {
    background: colors.$table-heading-background;
    border: none;
    border-collapse: collapse;
  }

  td {
    border: 1px solid colors.$table-border;
    border-collapse: collapse;
  }
}

.label {
  font-size: smaller;
  font-variation-settings: "wght" 500;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 2px 6px;
  outline: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  font-variation-settings: "opsz" 10;
}

.wrapper {
  width: 80%;
  min-width: 300px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: vars.$md-break) {
    width: 0.8 * vars.$md-break;
  }

  @media screen and (min-width: vars.$lg-break) {
    width: 720px;
  }
}

body>footer {
  border-top: 1px solid #424242;
  padding: 0.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: smaller;
  margin-top: 0.5em;
  font-variation-settings: "opsz" 10;

  .nz {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
}

main>p>img {
  max-width: 100%;
  text-align: center;
}

.note {
  margin: 1em 0;
  padding: 8px 12px;
  padding-left: calc(12px - 4px);
  background: #616161;
  color: #fafafa;
  border-radius: 8px;
  box-shadow: vars.$box-shadow;
  border-left: 4px solid #03a9f4;

  // &.note-yellow {
  //     background-color: #E65100;
  //     color: #FFF8E1;
  // }
}
