@use "razza/vars";
@use "razza/colors";
@use "razza/typography";

.biglist {
  background: colors.$white-shade;
  color: #fafafa;
  border-radius: 8px;
  box-shadow: vars.$box-shadow;
  padding: 8px;
  display: flex;
  flex-direction: column;

  &.biglist-inset {
    background: unset;
    color: unset;
    box-shadow: unset;
    padding: unset;
  }

  .biglist-heading {
    margin: unset;
    font-size: smaller;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  .biglist-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;

    .biglist-item {
      display: flex;
      align-items: center;
      gap: 8px;

      color: unset;
      text-decoration: none;

      border: 1px solid var(--inverse-background-color);
      border-radius: 8px;
      outline: none;

      padding: 1em;

      transition: box-shadow .1s, transform .1s;

      &:hover,
      &:focus {
        box-shadow: 2px 2px 0px var(--inverse-background-color);
        transform: translate(-2px, -2px);
      }

      &:active {
        transform: unset;
        box-shadow: unset;
      }

      .biglist-item-main {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .title {
          font-size: larger;
          font-stretch: 80%;

          font-variation-settings: "wght" 600;
        }
      }
    }
  }

  .biglist-more {
    display: flex;
    justify-content: flex-end;
    margin-top: 4px;
    justify-self: flex-end;

    .button {
      box-shadow: none;
    }
  }

  &.biglist-grid {
    .biglist-content {
      display: grid;
      gap: 8px;

      @media screen and (min-width: vars.$md-break) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      @media screen and (min-width: vars.$lg-break) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }
  }
}
