.biglist {
  background: $color-white-shade;
  color: #fafafa;
  border-radius: 8px;
  box-shadow: $box-shadow;
  padding: 8px;
  display: flex;
  flex-direction: column;

  &.biglist-inset {
    background: unset;
    color: unset;
    box-shadow: unset;
    padding: unset;
  }

  .biglist-heading {
    margin: unset;
    font-size: smaller;
    font-family: $main-font-family;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  .biglist-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;

    .biglist-item {
      display: flex;
      border: $light-border;
      padding: 8px;
      border-radius: 8px;
      color: unset;
      text-decoration: none;
      align-items: center;
      gap: 8px;

      &:hover,
      &:focus {
        background: rgba(255, 255, 255, 0.06125);
        border-color: #e0e0e0;
        outline: 1px solid #e0e0e0;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
      }

      &:active {
        background: rgba(255, 255, 255, 0.0625);
        border-color: #808080;
        outline: 1px solid #808080;
      }

      .biglist-item-main {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .title {
          font-family: $head-font-family;
          font-size: larger;
          font-stretch: 80%;
          font-weight: 800;
        }
      }
    }
  }

  .biglist-more {
    display: flex;
    justify-content: flex-end;
    margin-top: 4px;
    justify-self: flex-end;

    .button {
      box-shadow: none;
    }
  }

  &.biglist-grid {
    .biglist-content {
      display: grid;
      gap: 8px;

      @media screen and (min-width: $md-break) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      @media screen and (min-width: $lg-break) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }
  }
}
