.layout-home {
    >header {
        margin-top: 8px;
        margin-bottom: 8px;

        .name {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 1em 0 0;
            font-weight: 750;
            line-height: 100%;
            line-height: 0.8em;
            font-size: 3em;
            color: $color-kinda-yellow;

            span {
                display: block;
            }
        }
    }

    >#links {
        margin: 8px auto;
    }

    >#sections {
        display: grid;
        gap: 8px;

        .home-button {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 4px;

            border: $light-border;
            border-radius: 8px;

            padding: 8px;
            flex-grow: 1;

            text-decoration: none;
            color: unset;

            &:hover,
            &:focus {
                background: rgba(255, 255, 255, 0.06125);
                border-color: #e0e0e0;
                outline: 1px solid #e0e0e0;
                box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
            }

            &:active {
                background: rgba(255, 255, 255, 0.0625);
                border-color: #808080;
                outline: 1px solid #808080;
            }

            i.bi {
                align-self: center;
                font-size: 32px;
            }

            .home-button-title {
                font-family: $head-font-family;
                font-size: larger;
                font-weight: 600;
                font-stretch: 80%;
                font-weight: 600;
            }
        }

        @media screen and (min-width: 800px) {
            grid-template-columns: repeat(3, 1fr);

            .home-button {
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 2px;

                >span {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 2px;
                }
            }
        }
    }

    >#recent {
        display: grid;
        gap: 8px;
        margin: 8px auto;

        @media screen and (min-width: $lg-break) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    #notes .biglist-more {
        justify-content: space-between;
    }
}
