.layout-home {
    > header {
        margin-top: 8px;
        margin-bottom: 8px;

        .name {
            display: flex;
            flex-direction: column;
            margin: 1em 0;
            font-weight: 750;
            line-height: 100%;
            line-height: 0.8em;
            font-family: $logo-font-family;
            font-size: 3em;
            color: $color-kinda-yellow;

            span {
                display: block;
            }
        }
    }

    > main:not(.old-home) {
        display: grid;
        gap: 8px;

        .home-button {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 4px;

            border: $light-border;
            border-radius: 8px;
            
            padding: 8px;
            flex-grow: 1;

            text-decoration: none;
            color: unset;

            transition: transform .2s, color .2s, background-color .2s;

            &:hover, &:focus {
                background: #fafafa;
                color: #212121;
                box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
                transform: scale(1.025);
                outline: none;
            }

            &:active {
                background: #e0e0e0;
                color: #212121;
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
                transform: translateY(0);
            }

            img {
                align-self: center;
            }

            .home-button-title {
                font-family: $head-font-family;
                font-size: larger;
                font-weight: 600;
            }
        }

        @media screen and (min-width: 800px) {
            grid-template-columns: 1fr 1fr 1fr;

            .home-button {
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 2px;

                > span {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 2px;
                }
            }
        }
    }

    > main.old-home {
        display: grid;
        gap: 8px;
        margin: 1em auto;

        @media screen and (min-width: $md-break) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
