@use "sass:color";
@use "razza/vars";
@use "razza/colors";

body>nav,
body>.wrapper>nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  position: fixed;
  left: 4px;
  right: 4px;
  top: 4px;

  background: color.scale(colors.$background-dark, $alpha: -5%);
  color: colors.$white;

  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 8px;

  box-shadow: vars.$box-shadow-blue;
  overflow: hidden;
  backdrop-filter: blur(14px) brightness(110%);
  transform-origin: top left;
  transform: scale(0.95);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s, transform 0.2s;
  z-index: 1000;
  gap: 8px;
  box-shadow: vars.$box-shadow;

  &.is-open {
    pointer-events: unset;
    opacity: 1;
    transform: scale(1);
  }

  [data-nav-action="close"] {
    margin-inline: 8px;
  }

  >header {
    padding-inline: 8px;
  }

  >ul {
    list-style: none;
    padding: 0;
    margin: 0;

    >li {
      a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: unset;
        padding-inline: 12px;
        padding-block: 8px;
        text-decoration: none;
        transition: box-shadow 0.1s, color 0.1s, background-color 0.1s;
        border-radius: 8px;

        &:hover {
          background: colors.$white;
          color: colors.$black;
        }
      }
    }
  }

  @media screen and (min-width: vars.$md-break) {
    width: 320px;
    bottom: unset;
    right: unset;
    left: calc(50vw - (0.8 * vars.$md-break) / 2 - 17px);
    top: 8px;
  }

  @media screen and (min-width: vars.$lg-break) {
    left: calc(50vw - 720px / 2 - 17px);
    top: 8px;
  }
}

[data-nav-action="close"] {
  appearance: none;
  background-color: vars.$card-background;
  color: colors.$white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 48px;
  height: 32px;
  cursor: pointer;
  border-radius: 0 0 8px 8px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-top: none;
  transition: box-shadow 0.1s, color 0.1s, background-color 0.1s;

  &:hover {
    background-color: colors.$white;
    color: black;
  }
}

.nav-controller-wrapper {
  position: sticky;
  top: 8px;
  z-index: 999;
}

.nav-controller {
  display: inline-flex;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;


  font-variation-settings: "wght" 600;
  font-stretch: 80%;

  background-color: color.scale(colors.$background-dark, vars.$alpha: -20%);
  ;
  backdrop-filter: blur(14px) brightness(110%);
  color: colors.$white;

  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 8px;

  >* {
    transition: box-shadow 0.1s, color 0.1s, background-color 0.1s;

    &:hover {
      background: #fafafa;
      color: #212121;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
      outline: none;
    }
  }

  >button {
    appearance: none;
    border: unset;
    background: unset;
    color: unset;
    font-size: 14px;
    width: 48px;
    height: 32px;
    border-right: 1px solid rgba(255, 255, 255, 0.125);
    cursor: pointer;
  }

  >a {
    color: unset;
    text-decoration: none;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    padding-inline: 12px;

    &+a {

      border-left: 1px solid rgba(255, 255, 255, 0.125);
    }
  }
}
