@use "razza/vars";
@use "razza/colors";

.card {
    background-color: vars.$card-background;
    color: vars.$card-color;
    border-radius: 8px;
    box-sizing: vars.$box-shadow;
}

.num {
    font-feature-settings: "tnum";
    text-align: right;
}
