@use "sass:color";
@use "razza/colors";

//
// font families
//

$main-font-family: "NunitoSans", sans-serif;
$head-font-family: "NunitoSans", $main-font-family;
$mono-font-family: "CommitMono", monospace;

$common-font-variations: "YTLC" 540;
$body-font-variations: $common-font-variations, "opsz" 8, "wght" 400;
$head-font-variations: $common-font-variations, "wght" 800, "wdth" 110;

//
// breakpoints
//

$sm-break: 480px;
$md-break: 640px;
$lg-break: 800px;

//
// main content size
//

$wrapper-min-sides: 0.5rem;
$wrapper-min: calc(1vw - 2 * $wrapper-min-sides);
$wrapper-max: 48rem;

//
//
//

$box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
$box-shadow-blue: 0 4px 4px color.scale(colors.$background-dark, $alpha: -75%);

$light-border: 1px solid rgba(255, 255, 255, 0.125);

$card-background: rgba(255, 255, 255, 0.1);
$card-color: colors.$white;
