@charset "utf-8";

// basic html styling
@use "razza/base";
@use "razza/layout";

// common page templates
@use "razza/header";

@use "razza/utilities";
@use "razza/highlight";

@use "razza/components/button";
@use "razza/components/button-3d";

@use "razza/callout";
@use "razza/navbar";
@use "razza/biglist";
@use "razza/home";
@use "razza/post";
@use "razza/projects";

//
// font imports
//

@font-face {
      font-family: CommitMono;
      src: url("/assets/fonts/commit-mono/commit-mono.woff2");
}

@font-face {
      font-family: NunitoSans;
      src: url("/assets/fonts/nunito-sans/NunitoSans.ttf");
}

@font-face {
      font-family: NunitoSans;
      font-style: italic;
      src: url("/assets/fonts/nunito-sans/NunitoSans-Italic.ttf");
}
