@charset "utf-8";

@use "sass:color";

$main-font-family: "NunitoSans", sans-serif;
$head-font-family: "NunitoSans", $main-font-family;
$mono-font-family: "CommitMono", monospace;

$color-white: #FFFFFF;
$color-black: #000000;
$color-dark-blue: #101117;
$color-kinda-yellow: #FFB900;
$color-white-shade: color.scale($color-white, $alpha: -90%);

$color-table-background: $color-dark-blue;
$color-table-border: lighten($color-dark-blue, 15%);
$color-table-heading-background: $color-table-border;

$sm-break: 480px;
$md-break: 640px;
$lg-break: 800px;

$box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
$box-shadow-blue: 0 4px 4px color.scale($color-dark-blue, $alpha: -75%);

$light-border: 1px solid rgba(255, 255, 255, 0.125);

$card-background: rgba(255, 255, 255, 0.1);
$card-color: $color-white;

@import "razza/base"
, "razza/utilities"
, "razza/highlight"

, "razza/components/button"
, "razza/components/button-3d"
, "razza/callout"
, "razza/navbar"
, "razza/biglist"

, "razza/home"
, "razza/post"
, "razza/projects"
, "razza/utilities"
;

//

@font-face {
      font-family: CommitMono;
      src: url("/assets/fonts/commit-mono/commit-mono.woff2");
}

@font-face {
      font-family: NunitoSans;
      src: url("/assets/fonts/nunito-sans/NunitoSans.ttf");
}

@font-face {
      font-family: NunitoSans;
      font-style: italic;
      src: url("/assets/fonts/nunito-sans/NunitoSans-Italic.ttf");
}
