@charset "utf-8";

$main-font-family: "Spline Sans", sans-serif;
$head-font-family: "Syne", $main-font-family;
$mono-font-family: "Spline Sans Mono", monospace;

$sm-break: 480px;
$md-break: 640px;
$lg-break: 800px;

$box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

$light-border: 1px solid rgba(255, 255, 255, 0.125);

@import
    "razza/base",
    "razza/callout",
    "razza/navbar",
    "razza/home",
    "razza/post",
    "razza/biglist";
