@mixin button {
  border: 1px solid var(--colour-foreground);
  border-radius: 0.5rem;
  color: unset;
  box-shadow: 1px 1px 0 var(--colour-foreground);
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s linear, box-shadow 0.1s linear;

  &:hover {
    transform: translate(-1px, -1px);
    box-shadow: 2px 2px 0 var(--colour-foreground);
  }

  &:active {
    transform: translate(1px, 1px);
    box-shadow: 0 0 0 var(--colour-foreground);
  }
}

.button {
  @include button();
}
