@use "../focus";

@mixin button {
  box-sizing: content-box;
  background: var(--colour-background-elevated);

  border: 1px solid var(--colour-edge);
  border-radius: 0.5rem;
  color: unset;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  &:hover {
    outline: 1px solid var(--colour-edge);
  }

  &:active {
    background: var(--colour-edge);
  }

  @include focus.hide-for-mouse();
}

.button {
  @include button();
}
