@use "../focus";
@use "../chrome";
@use "../colours.scss";

.gallery-tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;

  > a {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    aspect-ratio: 1;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    padding: 0.25em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5em;

    color: unset;
    text-decoration: none;

    overflow: hidden;

    > img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .image-anchor {
      position: relative;
      top: -40vh;
    }

    > .image-title {
      position: relative;
      background: rgba(0, 0, 0, 0.8);
      color: white;
      font-size: 0.8em;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
    }

    &:hover {
      outline: 1px solid var(--colour-edge);
    }
  }
}

.lightboxes {
  .lightbox {
    @include colours.dark-scheme();

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3000;

    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 0;

    transform: scale(0.97);
    border-radius: 2rem;

    will-change: opacity, transform;
    transition: opacity 0.25s, transform 0.25s, border-radius 0.25s;
    backdrop-filter: saturate(150%) blur(32px);
    overflow: hidden;

    pointer-events: none;

    .lightbox-content {
      display: contents;
      flex-direction: column;

      margin: 2rem;
      overflow-x: hidden;
      overflow-y: auto;

      will-change: transform;
      transition: transform 0.2s;

      .lightbox-close {
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        width: 3rem;
        height: 3rem;

        position: fixed;
        top: 1rem;
        left: 1rem;
        border-radius: 50%;

        background: rgba(0, 0, 0, 0.8);
        color: white;
        backdrop-filter: saturate(15%) blur(16px);

        &:hover {
          background: rgba(255, 255, 255, 0.8);
          color: black;
        }
      }

      .lightbox-image {
        flex-grow: 1;
        padding: 2rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .lightbox-meta {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-auto-rows: min-content;
        font-size: 0.85rem;

        padding: 0.5rem 1rem;
        gap: 0.5rem;
        place-items: center start;

        .lightbox-meta-row {
          display: contents;

          .lightbox-meta-key {
            font-weight: bold;
          }

          .lightbox-meta-value {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5em;
          }
        }
      }
    }

    @media screen and (min-width: chrome.$breakpoint-l) {
      flex-direction: row;
      overflow: hidden;

      .lightbox-meta {
        overflow-y: auto;
        min-width: 16rem;
      }

      .lightbox-image {
        padding: 1rem;
      }
    }

    &:target {
      opacity: 1;
      pointer-events: all;

      transform: scale(1.0);
      border-radius: 0;
    }
  }
}
