@use "../colours";

.page-chrome>header {
  background: var(--colour-background-elevated);
  color: var(--colour-foreground);

  padding: 1rem 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;

  border-radius: 0.5rem;

  >* {
    margin-block: unset;
  }

  .header-buttons {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    gap: 0.5rem;

    margin: 0;
    margin-top: 1rem;
    padding: 0;
    list-style: none;
  }

  .header-labels {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    gap: 0.25rem;

    margin: 0;
    margin-top: 1rem;
    padding: 0;
    list-style: none;
  }
}
