.label {
    font-size: 0.875rem;

    background-color: var(--colour-foreground);
    color: var(--colour-background);
    padding: 0.125rem 0.5rem;
    border-radius: 0.25rem;

    &.label-wip {
        background-color: var(--colour-accent);
    }
}

.labels {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.25rem;
}
