@use "../chrome";
@use "../focus.scss";
@use "button";

.page-chrome > nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: stretch;
  padding-inline: 0.5rem;

  label {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    list-style: none;
    padding: unset;
    margin: unset;
    gap: 0.25rem;

    li {
      display: grid;
      align-items: stretch;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: unset;
        border: 2px solid transparent;
        border-radius: 1e99rem;

        &.current,
        &:active {
          background: var(--colour-background-elevated);
        }

        &:hover {
          border-color: var(--colour-edge);
        }

        @include focus.hide-for-mouse();
      }
    }
  }

  #navigation-toggle {
    display: none;
  }

  .navigation-toggle-hint {
    display: none;
  }

  @media screen and (max-width: chrome.$breakpoint-m) {
    position: sticky;
    top: 0.5rem;
    flex-direction: column;
    padding-inline: unset;

    label[for="navigation-toggle"] {
      @include button.button();

      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
    }

    .nav-links {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      border: 1px solid var(--colour-edge);
      border-top: none;
      overflow: hidden;
    }

    #navigation-toggle:checked {
      & ~ label[for="navigation-toggle"] {
        border-end-start-radius: 0;
        border-end-end-radius: 0;
      }

      & ~ .nav-links {
        background-color: var(--colour-background-elevated);
        display: flex;
        flex-direction: column;
        border-radius: 0 0 0.5rem 0.5rem;
        gap: unset;
        align-items: stretch;
        overflow: hidden;

        a {
          justify-content: flex-start;
          border: none;
          border-radius: 0rem;
          padding-inline: 1.5rem;

          &.current {
            background-color: var(--colour-edge);
          }
        }
      }
    }

    .navigation-toggle-hint {
      display: unset;
    }
  }
}
