@use "../chrome";
@use "../focus.scss";
@use "../colours.scss";
@use "button";

$links-scale-start: 0.975;

@media screen and (max-width: calc(chrome.$breakpoint-m - 1px)) {
  .page-chrome > nav {
    .nav-logo {
      display: none;
    }

    .nav-blur {
      --nav-blur-anim-opacity: 0;
      --nav-blur-anim-blur: 0.5;

      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2000;

      display: block;
      background-color: var(--colour-background-nav-blur);
      backdrop-filter: saturate(calc(100% + 50% * var(--nav-blur-anim-blur))) blur(calc(var(--nav-blur-anim-blur) * 32px));
      opacity: var(--nav-blur-anim-opacity);
      pointer-events: none;

      transition: backdrop-filter 5s, opacity .2s;
    }

    .nav-fab {
      @include button.button();

      position: fixed;
      bottom: 1.5rem;
      right: 1.5rem;

      box-sizing: border-box;
      width: 3rem;
      height: 3rem;
      border-radius: 1.5rem;
      z-index: 2000;

      padding: 0;

      cursor: pointer;

    }

    .nav-links {
      --nav-links-anim: 0;

      position: fixed;
      bottom: 1.5rem + 2rem + 0.5rem;
      right: 1.5rem;
      z-index: 2000;

      border: 0;
      padding: 0;
      list-style: none;

      display: flex;
      flex-direction: column-reverse;
      gap: 0.5rem;
      min-width: 14rem;

      transform: scale(calc($links-scale-start + var(--nav-links-anim) * (1 - $links-scale-start)));
      transform-origin: bottom right;
      opacity: var(--nav-links-anim);

      transition: transform .2s, opacity .2s;

      pointer-events: none;

      li {
        display: grid;
        place-items: stretch;

        a {
          @include button.button();

          box-sizing: border-box;
          justify-content: flex-start;
          gap: 0.5rem;
          border-radius: 5rem;
          color: var(--colour-foreground);

          &.current {
            --font-var-wght: 800;
            --font-var-casl: 1;
            --font-var-crsv: 1;
            --font-var-slnt: -5;

            border: 0.25rem solid var(--colour-edge-active);
          }
        }
      }
    }

    &.nav-open {
      .nav-blur {
        --nav-blur-anim-blur: 1;
        --nav-blur-anim-opacity: 1;
        pointer-events: all;
      }

      .nav-links {
        --nav-links-anim: 1;
        pointer-events: all;
      }
    }
  }
}

@media screen and (min-width: chrome.$breakpoint-m) {
  .page-chrome>nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
    padding-inline: 0.5rem;

    .nav-blur,
    .nav-fab {
      display: none;
    }

    .nav-logo {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-inline: 0.5rem;
    }

    .nav-links {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      list-style: none;
      padding: unset;
      margin: unset;
      gap: 0.5rem;

      li {
        display: grid;
        align-items: stretch;

        a {
          @include button.button();

          display: grid;
          place-items: center;
          box-sizing: border-box;
          width: 4rem;
          height: 2.5rem;
          border-radius: 1.25rem;
          padding: 0;

          .navigation-label {
            display: none;
          }

          &.current {
            border: 0.25rem solid var(--colour-edge-active);
          }
        }
      }
    }
  }
}
