@use "../chrome";

.project-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media screen and (min-width: chrome.$breakpoint-m) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: chrome.$breakpoint-l) {
    grid-template-columns: repeat(3, 1fr);
  }
}
