// we're overriding the table element itself, but on the off-chance some
// external component overrides it, we should be able to disable it
*:not(.table-disable-style) {
  table {
    background-color: var(--colour-background-elevated);
    border: 1px solid var(--colour-edge);
    border-spacing: 0;
    overflow: hidden;
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 0.25em 0.5em;
      border: 0.5px solid var(--colour-edge);
    }

    th {
      background-color: var(--colour-edge);
    }
  }
}
