// we're overriding the table element itself, but on the off-chance some
// external component overrides it, we should be able to disable it
*:not(.table-disable-style) {
  table {
    border-radius: 0.5rem;
    border: 1px solid var(--colour-background-swap);
    border-spacing: 0;
    overflow: hidden;
    width: 100%;

    th,
    td {
      padding: 0.25em 0.5em;
      border: 1px solid var(--colour-background-swap);
    }

    th {
      background-color: var(--colour-background-swap);
      color: var(--colour-foreground-swap);
    }

    tbody {
      tr:first-child {
        th,
        td {
          &:first-child {
            border-top-left-radius: 0.5rem;
          }

          &:last-child {
            border-top-right-radius: 0.5rem;
          }
        }
      }

      tr:last-child {
        th,
        td {
          &:first-child {
            border-bottom-left-radius: 0.5rem;
          }

          &:last-child {
            border-bottom-right-radius: 0.5rem;
          }
        }
      }
    }

    thead ~ tbody {
      tr:first-child {
        th,
        td {
          &:first-child {
            border-top-left-radius: 0rem;
          }

          &:last-child {
            border-top-right-radius: 0rem;
          }
        }
      }
    }
  }
}
