---
layout: default
---

<header class="wrapper">
    <h1 class="name"><span>RA<br>ZZ<br>A</span></h1>
    <p class="tagline">I'm a software developer. I work on <a href="#">various projects</a> and <a href="#">write notes</a> every now and then.</p>
</header>

<div id="links" class="wrapper">
    {% for link in site.data.links %}
        {% assign url = link.url %}
        {% unless url %}
            {% assign url = link.page | relative_url %}
        {% endunless %}
        <a href="{{ url }}" class="button">{{ link.name }}</a> 
    {% endfor %}
</div>

<main class="wrapper">
    <a href="/projects" class="home-button">
        <img src="/assets/home-icons/projects.svg">
        <span>
            <span class="home-button-title">Projects</span>
            <span class="home-button-subtitle">I've worked on</span>
        </span>
    </a>
    <a href="/notes" class="home-button">
        <img src="/assets/home-icons/notes.svg">
        <span>
            <span class="home-button-title">Notes</span>
            <span class="home-button-subtitle">I've written</span>
        </span>
    </a>
    <a href="/links" class="home-button">
        <img src="/assets/home-icons/links.svg">
        <span>
            <span class="home-button-title">Links</span>
            <span class="home-button-subtitle">to other places</span>
        </span>
    </a>
</main>

<main class="wrapper old-home">
    <section id="projects" class="biglist">
        <h1 class="biglist-heading">Projects</h1>
        <div class="biglist-content">
            {% assign projects = site.data.projects | slice: 0, 5 %}
            {% for project in projects %}
                {% assign icon = 'assets/logos/projects/undefined.svg' %}
                {% if project.icon %}
                    {% assign icon = 'assets/logos/projects/' | append: project.icon %}
                {% endif %}

                <a href="{{ project.link }}" class="biglist-item">
                    <img src="{{ icon | relative_url }}" alt="" width="32" height="32">
                    <span class="biglist-item-main">
                        <span class="title">{{ project.name }}</span>
                        <span class="description">{{ project.description }}</span>
                    </span>
                </a>
            {% endfor %}
        </div>

        <div class="biglist-more">
            <a href="/projects" class="button">See More</a>
        </div>
    </section>
    <section id="notes" class="biglist">
        <h1 class="biglist-heading">Latest Notes</h1>
        <div class="biglist-content">
            {% assign notes = site.posts | slice: 0, 5 %}
            {% for note in notes %}
                <a href="{{ note.url | relative_url }}" class="biglist-item">
                    <span class="biglist-item-main">
                        <span class="title">{{ note.title }}</span>
                        <span class="date">{{ note.date | date: "%B %e, %Y" }}</span>
                    </span>
                </a>
            {% endfor %}
        </div>

        <div class="biglist-more">
            <a href="/notes" class="button">See More</a>
        </div>
    </section>
</main>
