---
layout: default
---

<header class="wrapper">
    <h1 class="name"><img src="/assets/logos/projects/razza.io.svg" alt="RAZZA" height="128"></h1>
    <p class="tagline">I'm a software developer. I work on <a href="#">various projects</a> and <a href="#">write notes</a> every now and then.</p>
</header>

<section class="wrapper" id="sections">
    <a href="/projects" class="home-button card">
        <i class="bi bi-hammer"></i>
        <span>
            <span class="home-button-title">Projects</span>
            <span class="home-button-subtitle">I've worked on</span>
        </span>
    </a>
    <a href="/notes" class="home-button card">
        <i class="bi bi-files"></i>
        <span>
            <span class="home-button-title">Notes</span>
            <span class="home-button-subtitle">I've written</span>
        </span>
    </a>
    <a href="/links" class="home-button card">
        <i class="bi bi-link"></i>
        <span>
            <span class="home-button-title">Links</span>
            <span class="home-button-subtitle">to other places</span>
        </span>
    </a>
</section>

<section class="wrapper" id="recent">
    <div id="projects" class="biglist">
        <h1 class="biglist-heading">Projects</h1>
        <div class="biglist-content">
            {% assign projects = site.projects | slice: 0, 5 %}
            {% for project in projects %}
                {% assign logo_path = "/assets/logos/projects/" | append: project.slug | append: ".svg" %}
            
                <a href="{{ project.url | relative_url }}" class="biglist-item">
                    <img src="{{ logo_path | relative_url }}" alt="" width="32" height="32">
                    <span class="biglist-item-main">
                        <span class="title">{{ project.title }}</span>
                        <span class="description">{{ project.description }}</span>
                    </span>
                </a>
            {% endfor %}
        </div>

        <div class="biglist-more">
            <a href="/projects" class="button">See More</a>
        </div>
    </div>
    <div id="notes" class="biglist">
        <h1 class="biglist-heading">Latest Notes</h1>
        <div class="biglist-content">
            {% assign notes = site.posts | slice: 0, 5 %}
            {% for note in notes %}
                <a href="{{ note.url | relative_url }}" class="biglist-item">
                    <span class="biglist-item-main">
                        <span class="title">{{ note.title }}</span>
                        <span class="date">{{ note.date | date: "%B %e, %Y" }}</span>
                    </span>
                </a>
            {% endfor %}
        </div>

        <div class="biglist-more">
            <a href="/feed.xml" class="button" title="Atom Feed"><i class="bi bi-rss-fill"></i></a>
            <a href="/notes" class="button">See More</a>
        </div>
    </div>
</section>
