---
layout: chrome
---

<header>
    <h1>Notes</h1>
    <p>Here are some notes I've written down for different things. Think of them as a bunch of Markdown files left in a
        folder somewhere.</p>
    <ul class="header-buttons">
        <li><a href="{{ '/feed.xml' | relative_url }}" class="button"><i class="bi bi-rss"></i> Atom Feed</a></li>
    </ul>
</header>

{% assign notes = site.notes | reverse %}

<main class="note-list">
  {% for note in notes %}
    {% include note-tile.html %}
  {% endfor %}
</main>
