---
layout: chrome
nav_tag: notes
---

{% assign date = page.date | date: '%F' %}

<header>
    <h1>{{ page.title }}</h1>
    <p>{{ page.date | date: "%B %e, %Y" }}</p>
</header>

<main class="chrome-inset">
    <article>
        {{ content }}
    </article>
</main>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const IMAGE_HEIGHT = 300;
        const imageHeader = document.querySelector(".layout-post > header.background-image-header");

        if (imageHeader == null) return;

        document.addEventListener("scroll", (ev) => {
            imageHeader.style.top = `-${window.scrollY / 2}px`;
            imageHeader.style.opacity = window.scrollY > IMAGE_HEIGHT
                ? "0"
                : `${1 - scrollY / IMAGE_HEIGHT}`;
        });
    });
</script>
