---
layout: default
navhome:
  title: <i class="bi bi-files"></i> Notes
  href: /notes
---

{% include navbar.html %}

{% assign date = page.date | date: '%F' %}
{% assign masthead = 'assets/notes/' | append: date | append: '-' | append: page.slug | append: '/masthead.png' %}

<header class="background-image-header" style="background-image: url({{ masthead | relative_url }}); background-position: {{ page.masthead_align | default: 'center center' }}"></header>
<header class="meta-header">
    <div class="wrapper">
        <div class="meta-header-content">
            <h1 class="meta-title">{{ page.title }}</h1>
            <p class="meta-date">{{ page.date | date: "%B %e, %Y" }}</p>
            <ul class="meta-categories">
                {% for category in page.categories %}
                    <li>{{ category }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</header>

<main class="wrapper">
    {{ content }}
</main>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const IMAGE_HEIGHT = 300;
        const imageHeader = document.querySelector(".layout-post > header.background-image-header");

        if (imageHeader == null) return;

        document.addEventListener("scroll", (ev) => {
            imageHeader.style.top = `-${window.scrollY / 2}px`;
            imageHeader.style.opacity = window.scrollY > IMAGE_HEIGHT
                ? "0"
                : `${1 - scrollY / IMAGE_HEIGHT}`;
        });
    });
</script>
