---
layout: default
---

{% include navbar.html %}

<header class="wrapper">
    <div class="card">
        {% assign logo_path = "/assets/logos/projects/" | append: page.slug | append: ".svg" %}

        <div class="project-meta">
            <img src="{{ logo_path | relative_url }}" alt="" width="64" class="logo">
            <div class="project-meta-text">
                <h1 class="title">{{ page.title }}</h1>
                <p class="tagline">{{ page.description }}</p>
            </div>
        </div>

        {% if page.links %}
            <ul class="project-buttons">
                {% for link in page.links %}
                    <li><a href="{{ link.url }}" target="_blank" class="button">{{ link.label }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</header>

<main class="wrapper">
    {{ content }}
</main>
