---
layout: chrome
nav_tag: travels
bundles: [map]
---

<header>
  <h1>Travels</h1>
</header>

<div id="map"></div>

{% assign travels = site.travels | reverse %}

<script type="application/json" id="map-data">
  [{% for travel in travels %}
    {"title":{{ travel.title | jsonify }}{% if travel.alt_title %},"altTitle":{{ travel.alt_title | jsonify }}{% endif %},"hero":{{ travel.slug | prepend: "/assets/travels/" | append: ".jpg" | jsonify }},"country":{{ travel.country | jsonify }},"countryLabel":{{ site.data.countries[travel.country].label | jsonify }},"link":{{ travel.url | jsonify }},"lat":{{ travel.location.lat }},"lon":{{ travel.location.lon }}}{% unless forloop.last %},{% endunless %}
  {% endfor %}]
</script>

<main class="note-list">
  {% for travel in travels %}
    {% include travel-tile.html %}
  {% endfor %}
</main>
