@use "sass:map";

$chroma: (
  "light": 300,
  "dark":  295,
  "focus": 320,
);

$light: (
  "background":          oklch(95%  5% map.get($chroma, "light")), // page background
  "background-elevated": oklch(90% 12% map.get($chroma, "light")), // elevated components
  "foreground":          oklch(0 0 0),
  "edge":                oklch(75% 30% map.get($chroma, "light")), // interactable edge components
  "edge-active":         oklch(50% 25% map.get($chroma, "light")), // selected edges
  "accent":              oklch(45% 50% 265),                       // links
  "focus":               #D000FF,
);

$dark: (
  "background":          oklch(10% 10% map.get($chroma, "dark")),
  "background-elevated": oklch(20% 15% map.get($chroma, "dark")),
  "foreground":          oklch(98%  5% map.get($chroma, "dark")),
  "edge":                oklch(40% 30% map.get($chroma, "dark")),
  "edge-active":         oklch(50% 25% map.get($chroma, "dark")),
  "accent":              oklch(80% 60% 80),                     
  "focus":               #D000FF,
);

$schemes: (
  "light": $light,
  "dark":  $dark,
);

@mixin scheme($name, $tokens, $swap-tokens) {
  @each $role, $value in $tokens {
    --colour-#{$role}: #{$value};
  }

  @each $role, $value in $swap-tokens {
    --colour-#{$role}-swap: #{$value};
  }
}

@mixin light-scheme { @include scheme("light", $light, $dark) }
@mixin dark-scheme  { @include scheme("dark",  $dark, $light) }

:root {
  @include light-scheme();

  background-color: var(--colour-background);
  color: var(--colour-foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-scheme();
  }
}

.scheme-light {
  @include light-scheme();
}

.scheme-dark {
  @include dark-scheme();
}
