@use "colours";
@use "typography";
@use "focus";
@use "chrome";
@use "code";

@use "components";
@use "pages";

@font-face {
  font-family: "Commit Mono";
  src: url("/assets/fonts/commit-mono/commit-mono.woff2");
}

body {
  margin: 0;
}

.bg-wip {
  background-image: repeating-linear-gradient(to bottom right, var(--colour-background-elevated), var(--colour-background-elevated) 10px, var(--colour-background) 10px, var(--colour-background) 20px);
}
