@use "colours";
@use "typography";
@use "chrome";

@use "components";
@use "pages";

@font-face {
  font-family: CommitMono;
  src: url("/assets/fonts/commit-mono/commit-mono.woff2");
}

body {
  margin: 0;
}
