@use "colours";
@use "typography";
@use "focus";
@use "chrome";
@use "code";

@use "components";
@use "pages";

@font-face {
  font-family: "Commit Mono";
  src: url("/assets/fonts/commit-mono/commit-mono.woff2");
}

body {
  margin: 0;
}
