@use "sass:map";

$body-font-family: "Recursive", sans-serif;
$heading-font-family: $body-font-family;
$mono-font-family: $body-font-family;

//

:root {
  --text-wght: 400;
  --text-casl: 0;
  --text-crsv: 0.5;
  --text-mono: 0;
  --text-slnt: 0;

  font-family: $body-font-family;
  line-height: 1.5em;
}

* {
  font-variation-settings:
    "wght" var(--text-wght),
    "CASL" var(--text-casl),
    "CRSV" var(--text-crsv),
    "MONO" var(--text-mono),
    "slnt" var(--text-slnt);
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub { 
  top: 0.4em; 
}

// headings

$heading-sizes: (
  "h1": 2rem,
  "h2": 1.75rem,
  "h3": 1.5rem,
  "h4": 1.25rem,
  "h5": 1.125rem,
  "h6": 1rem,
);

@mixin heading($size) {
  --text-wght: 800;
  --text-casl: 1;
  --text-crsv: 1;
  --text-slnt: -5;

  font-size: map.get($heading-sizes, $size);
  margin-block: unset;
  line-height: 1.5em;
}

@each $level, $size in $heading-sizes {
  .text-#{$level},
  #{$level} {
    @include heading($level);

    .alt-title {
      font-size: 0.8em;
      opacity: 0.6;
    }
  }

  article #{$level} {
    margin-block: 1em 0.5em;
  }
}

// text utility classes

.text-smaller {
  font-size: 0.875rem;
}

// link

a {
  color: var(--colour-accent);
  text-decoration: underline dotted;
}

a:hover {
  text-decoration: underline solid;
}
