@use "sass:map";

$body-font-family: "Nunito Sans", "Inter", sans-serif;
$heading-font-family: $body-font-family;
$mono-font-family: "Commit Mono", "Berkeley Mono", monospace;

$body-base-variations: "YTLC" 540, "opsz" 8;
$heading-base-varations: "YTLC" 540, "wdth" 110;

//

:root {
  font-family: $body-font-family;
  font-variation-settings: $body-base-variations;
}

// headings

$heading-sizes: (
  "h1": 2rem,
  "h2": 1.75rem,
  "h3": 1.5rem,
  "h4": 1.25rem,
  "h5": 1.125rem,
  "h6": 1rem,
);

@mixin heading($size) {
  font-family: $heading-font-family;
  font-size: map.get($heading-sizes, $size);
  font-weight: normal;
  font-variation-settings: $heading-base-varations, "wght" 800;

  margin-block: unset;
}

@each $level, $size in $heading-sizes {

  .text-#{$level},
  #{$level} {
    @include heading($level);
  }

  article #{$level} {
    margin-block: 1em 0.5em;
  }
}

// text utility classes

.text-smaller {
  font-size: 0.875rem;
}

// link

a {
  color: var(--colour-accent);
}
