@use "sass:map";

$body-font-family: "Nunito Sans", "Inter", sans-serif;
$heading-font-family: $body-font-family;
$mono-font-family: "Commit Mono", "Berkeley Mono", monospace;

$body-base-variations: "YTLC" 540, "opsz" 8;
$heading-base-varations: "YTLC" 540, "wdth" 110;

$heading-sizes: (
  "h1": 2rem,
  "h2": 1.75rem,
  "h3": 1.5rem,
  "h4": 1.25rem,
  "h5": 1.125rem,
  "h6": 1rem,
);

@mixin heading($size) {
  font-family: $heading-font-family;
  font-weight: normal;
  font-variation-settings: $heading-base-varations, "wght" 800;
  margin-block: unset;
  font-size: map.get($heading-sizes, $size);
}

//

:root {
  font-family: $body-font-family;
  font-variation-settings: $body-base-variations;
}

// headings

.text-h1,
h1 {
  @include heading("h1");
}

.text-h2,
h2 {
  @include heading("h2");
}

.text-h3,
h3 {
  @include heading("h3");
}

.text-h4,
h4 {
  @include heading("h4");
}

.text-h5,
h5 {
  @include heading("h5");
}

.text-h6,
h6 {
  @include heading("h6");
}

.text-smaller {
  font-size: 0.875rem;
}

// link

a {
  color: var(--colour-accent);
}
